
	<style>
		#paragraph1h {
		    font-family: Baskerville;
		  	width: 600px;
		  	color: white;
		  	padding-left: 700px;
		  	padding-bottom: 100px;
		  	font-size: 20px;
		  	position: relative;
		  	bottom: 40px;
		     }
	 	#paragraph2h {
		    font-family: Baskerville;
		  	width: 600px;
		  	color: white;
		  	padding-left: 480px;
		  	padding-top: 0px;
		  	
		  	font-size: 20px;
		  	position: relative;
		  	bottom: 400px;
		  	left: 50px;
		  	z-index: -20;
		     }
	    .img-circle {
	        border-radius: 50%;
	        position: relative;
	        left: 200px;
	        bottom: 300px;
	    	}

	</style>
<article>
	<div id="paragraph1h">
		<p>PermaMars aims to establish a permanent human settlement on Mars. Several unmanned missions will be completed, establishing a habitable settlement before carefully selected and trained crews will depart to Mars. Funding and implementing this plan will not be easy, it will be hard. The PermaMars team, with its advisers and with established aerospace companies, will evaluate and mitigate risks and identify and overcome difficulties step by step. PermaMars is a global initiative whose goal is to make this everyone’s mission to Mars, including yours. If we all work together, we can do this. We’re going to Mars. Come along!
		</p>
	</div>
</article>

	<img class="img-circle" src="images/astronaut.png">

<article>
	<div id="paragraph2h">
		<p>PermaMars consists of two entities: the not-for-profit PermaMars Foundation and for-profit company PermaMars Ventures. The PermaMars Foundation implements and manages the mission and owns the mission hardware. It also selects and trains the crews, and is building an ever growing community of experts and fans that follow the progress of the mission and contribute to it. PermaMars Ventures holds the exclusive monetization rights around the mission, from merchandise, ads on video content, broadcasting rights, Intellectual Property, and many more.

		<br>

		PermaMars Ventures will pay an upfront fee of <b>5.8 million dollars</b> to the PermaMars Foundation as part of the exclusive monetization rights contract and will pay a 5% license fee on all turnover to the Foundation. The Foundation will use revenue from these sources to move the mission to Mars forward: award new contracts to suppliers, organize Round Three of the Astronaut Selection Process, and hire team members with extensive experience in Mars missions.
		</p>
	</div>
</article>

