


	<video width="518" height="290" controls>
		<source src="images/risk_video.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	</video>

	<article>
		<div id="paragraph1m">
			<p>Dying is something we all will face at some point, so why not strive for something the human race would never forget?

			Why limit our lives to our known Earth when we should be pushing the envelope on advancing our understanding of the universe? Going to Mars is not the end goal here – finding the answers to why and how life exists is.

			Would we find life? Would we discover ruins of a past race of species? The questions are endless, and I think space travel is the only way to answer those.
			<br>
			<br>
			<br>

			<b>CLICK THE VIDEO BELOW FOR UP TO DATE LAUNCHES!</b>
			</p>
		</div>
	</article>

	<br>

	<style>

	#paragraph1m {
	    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	  	width: 600px;
	  	color: white;
	  	padding-left: 600px;
	  	padding-bottom: 0px;
	  	font-size: 20px;
	  	position: relative;
	  	bottom: 200px;
	  	right: 30px;

		  	
		  	
	  	
	     }
	video {
	    display: inline-block;
	    position: relative;
	    margin: 100px auto;
		border: 1px solid white;
		margin: bottom 40px;
		position: absolute;
		float: right;
		margin-left: 600px;
		}
	
	</style>
