body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
  background: -moz-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #27364f), color-stop(50%, #112), color-stop(100%, #112));
  background: -webkit-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
  background: -o-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
  background: -ms-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
  filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=' #27364f ', endColorstr=' #112 ',GradientType=1 )';
  background-position: 50% 0%;
  background-size: 150vmax 150vmax;
  background-repeat: no-repeat;
  background-color: #112;
}

.stars .container {
  position: absolute;
  animation: stars linear infinite;
}

.stars .container .star {
  animation: twinkle linear infinite;
  border-radius: 100%;
  transform: translateZ(0);
}

.stars .container:nth-child(0) {
  width: 3px;
  height: 3px;
  left: 86vw;
  animation-delay: -995.5333333333333s;
  animation-duration: 126.66666666666667s;
}

.stars .container:nth-child(0) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 40.5s;
  background: rgba(205,167,188,0.8);
}

.stars .container:nth-child(1) {
  width: 1px;
  height: 1px;
  left: 7.5vw;
  animation-delay: -999.6s;
  animation-duration: 78.2s;
}

.stars .container:nth-child(1) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 32s;
  background: rgba(254,178,224,0.9);
}

.stars .container:nth-child(2) {
  width: 1px;
  height: 1px;
  left: 34.5vw;
  animation-delay: -989.8s;
  animation-duration: 344.4s;
}

.stars .container:nth-child(2) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.8s;
  animation-duration: 49.4s;
  background: #d697ba;
}

.stars .container:nth-child(3) {
  width: 3px;
  height: 3px;
  left: 28.5vw;
  animation-delay: -997.3333333333334s;
  animation-duration: 122.2s;
}

.stars .container:nth-child(3) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.8s;
  animation-duration: 31.5s;
  background: rgba(249,155,184,0.7);
}

.stars .container:nth-child(4) {
  width: 2px;
  height: 2px;
  left: 80.5vw;
  animation-delay: -996.4s;
  animation-duration: 74.6s;
}

.stars .container:nth-child(4) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.7s;
  animation-duration: 12.4s;
  background: rgba(253,183,240,0.7);
}

.stars .container:nth-child(5) {
  width: 3px;
  height: 3px;
  left: 5vw;
  animation-delay: -995.3333333333334s;
  animation-duration: 16.533333333333335s;
}

.stars .container:nth-child(5) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.4s;
  animation-duration: 33.5s;
  background: rgba(245,176,221,0.7);
}

.stars .container:nth-child(6) {
  width: 2px;
  height: 2px;
  left: 61vw;
  animation-delay: -994.8s;
  animation-duration: 127.1s;
}

.stars .container:nth-child(6) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.2s;
  animation-duration: 31.7s;
  background: rgba(203,228,129,0.8);
}

.stars .container:nth-child(7) {
  width: 2px;
  height: 2px;
  left: 32.5vw;
  animation-delay: -998.5s;
  animation-duration: 183.2s;
}

.stars .container:nth-child(7) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.1s;
  animation-duration: 34s;
  background: rgba(219,159,174,0.8);
}

.stars .container:nth-child(8) {
  width: 1px;
  height: 1px;
  left: 6.5vw;
  animation-delay: -989.4s;
  animation-duration: 182.4s;
}

.stars .container:nth-child(8) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.4s;
  animation-duration: 39.4s;
  background: rgba(216,158,119,0.9);
}

.stars .container:nth-child(9) {
  width: 2px;
  height: 2px;
  left: 4.5vw;
  animation-delay: -990.7s;
  animation-duration: 117.1s;
}

.stars .container:nth-child(9) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.3s;
  animation-duration: 37.4s;
  background: #d5e2b2;
}

.stars .container:nth-child(10) {
  width: 1px;
  height: 1px;
  left: 47.5vw;
  animation-delay: -989.4s;
  animation-duration: 112.4s;
}

.stars .container:nth-child(10) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.3s;
  animation-duration: 41.1s;
  background: rgba(234,156,125,0.8);
}

.stars .container:nth-child(11) {
  width: 1px;
  height: 1px;
  left: 48vw;
  animation-delay: -990s;
  animation-duration: 228.6s;
}

.stars .container:nth-child(11) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46s;
  animation-duration: 44.8s;
  background: rgba(223,251,128,0.9);
}

.stars .container:nth-child(12) {
  width: 2px;
  height: 2px;
  left: 98vw;
  animation-delay: -999.8s;
  animation-duration: 82.7s;
}

.stars .container:nth-child(12) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 49.3s;
  background: rgba(237,179,247,0.7);
}

.stars .container:nth-child(13) {
  width: 1px;
  height: 1px;
  left: 6vw;
  animation-delay: -991.6s;
  animation-duration: 187.2s;
}

.stars .container:nth-child(13) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.3s;
  animation-duration: 31.4s;
  background: #e1f268;
}

.stars .container:nth-child(14) {
  width: 1px;
  height: 1px;
  left: 90vw;
  animation-delay: -981.2s;
  animation-duration: 69.8s;
}

.stars .container:nth-child(14) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.2s;
  animation-duration: 39.6s;
  background: rgba(217,227,247,0.7);
}

.stars .container:nth-child(15) {
  width: 2px;
  height: 2px;
  left: 57.5vw;
  animation-delay: -998.8s;
  animation-duration: 67s;
}

.stars .container:nth-child(15) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.4s;
  animation-duration: 20.2s;
  background: rgba(222,159,216,0.7);
}

.stars .container:nth-child(16) {
  width: 1px;
  height: 1px;
  left: 84.5vw;
  animation-delay: -993.6s;
  animation-duration: 166.2s;
}

.stars .container:nth-child(16) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.2s;
  animation-duration: 5.5s;
  background: #dbcdfb;
}

.stars .container:nth-child(17) {
  width: 3px;
  height: 3px;
  left: 94.5vw;
  animation-delay: -994.9333333333333s;
  animation-duration: 64.26666666666667s;
}

.stars .container:nth-child(17) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.5s;
  animation-duration: 25.5s;
  background: #cbb6a7;
}

.stars .container:nth-child(18) {
  width: 2px;
  height: 2px;
  left: 47vw;
  animation-delay: -990.7s;
  animation-duration: 146.4s;
}

.stars .container:nth-child(18) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.8s;
  animation-duration: 16.3s;
  background: rgba(246,187,165,0.9);
}

.stars .container:nth-child(19) {
  width: 3px;
  height: 3px;
  left: 56vw;
  animation-delay: -999.5333333333333s;
  animation-duration: 46.13333333333333s;
}

.stars .container:nth-child(19) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.3s;
  animation-duration: 43.6s;
  background: rgba(234,174,228,0.9);
}

.stars .container:nth-child(20) {
  width: 1px;
  height: 1px;
  left: 79vw;
  animation-delay: -995.6s;
  animation-duration: 260.2s;
}

.stars .container:nth-child(20) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.6s;
  animation-duration: 9.7s;
  background: rgba(204,214,159,0.7);
}

.stars .container:nth-child(21) {
  width: 1px;
  height: 1px;
  left: 88vw;
  animation-delay: -989s;
  animation-duration: 283.4s;
}

.stars .container:nth-child(21) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.5s;
  animation-duration: 6.4s;
  background: #debbc7;
}

.stars .container:nth-child(22) {
  width: 1px;
  height: 1px;
  left: 39vw;
  animation-delay: -992.6s;
  animation-duration: 166.2s;
}

.stars .container:nth-child(22) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.3s;
  animation-duration: 32s;
  background: rgba(245,159,132,0.8);
}

.stars .container:nth-child(23) {
  width: 3px;
  height: 3px;
  left: 74.5vw;
  animation-delay: -999.4s;
  animation-duration: 130.26666666666668s;
}

.stars .container:nth-child(23) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.7s;
  animation-duration: 48.8s;
  background: rgba(240,161,171,0.8);
}

.stars .container:nth-child(24) {
  width: 3px;
  height: 3px;
  left: 66vw;
  animation-delay: -999.2666666666667s;
  animation-duration: 50.06666666666666s;
}

.stars .container:nth-child(24) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.7s;
  animation-duration: 28.1s;
  background: rgba(232,190,208,0.7);
}

.stars .container:nth-child(25) {
  width: 3px;
  height: 3px;
  left: 77vw;
  animation-delay: -993.9333333333333s;
  animation-duration: 53.13333333333333s;
}

.stars .container:nth-child(25) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.7s;
  animation-duration: 38.4s;
  background: #e8ca79;
}

.stars .container:nth-child(26) {
  width: 3px;
  height: 3px;
  left: 16vw;
  animation-delay: -998.1333333333333s;
  animation-duration: 53.333333333333336s;
}

.stars .container:nth-child(26) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.5s;
  animation-duration: 13.8s;
  background: rgba(229,200,202,0.8);
}

.stars .container:nth-child(27) {
  width: 3px;
  height: 3px;
  left: 49vw;
  animation-delay: -994.7333333333333s;
  animation-duration: 101.46666666666665s;
}

.stars .container:nth-child(27) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.6s;
  animation-duration: 47.4s;
  background: rgba(204,161,148,0.8);
}

.stars .container:nth-child(28) {
  width: 2px;
  height: 2px;
  left: 16.5vw;
  animation-delay: -997.7s;
  animation-duration: 166.3s;
}

.stars .container:nth-child(28) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.2s;
  animation-duration: 5.9s;
  background: rgba(236,174,111,0.9);
}

.stars .container:nth-child(29) {
  width: 2px;
  height: 2px;
  left: 41vw;
  animation-delay: -995.2s;
  animation-duration: 104s;
}

.stars .container:nth-child(29) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.9s;
  animation-duration: 17.7s;
  background: #d8f5d9;
}

.stars .container:nth-child(30) {
  width: 3px;
  height: 3px;
  left: 94vw;
  animation-delay: -997.8s;
  animation-duration: 89s;
}

.stars .container:nth-child(30) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.8s;
  animation-duration: 33.8s;
  background: rgba(214,158,240,0.7);
}

.stars .container:nth-child(31) {
  width: 3px;
  height: 3px;
  left: 86.5vw;
  animation-delay: -994.4666666666667s;
  animation-duration: 29.866666666666664s;
}

.stars .container:nth-child(31) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40s;
  animation-duration: 30.8s;
  background: rgba(255,216,216,0.8);
}

.stars .container:nth-child(32) {
  width: 1px;
  height: 1px;
  left: 48vw;
  animation-delay: -989.8s;
  animation-duration: 175s;
}

.stars .container:nth-child(32) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.6s;
  animation-duration: 41s;
  background: rgba(224,227,228,0.7);
}

.stars .container:nth-child(33) {
  width: 2px;
  height: 2px;
  left: 90vw;
  animation-delay: -992.3s;
  animation-duration: 154.1s;
}

.stars .container:nth-child(33) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.3s;
  animation-duration: 41.2s;
  background: rgba(206,150,124,0.9);
}

.stars .container:nth-child(34) {
  width: 2px;
  height: 2px;
  left: 54.5vw;
  animation-delay: -990.4s;
  animation-duration: 166s;
}

.stars .container:nth-child(34) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.8s;
  animation-duration: 38.3s;
  background: rgba(236,208,118,0.9);
}

.stars .container:nth-child(35) {
  width: 3px;
  height: 3px;
  left: 40.5vw;
  animation-delay: -997.9333333333333s;
  animation-duration: 118.39999999999999s;
}

.stars .container:nth-child(35) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.9s;
  animation-duration: 40.7s;
  background: rgba(252,244,130,0.8);
}

.stars .container:nth-child(36) {
  width: 1px;
  height: 1px;
  left: 79vw;
  animation-delay: -991.4s;
  animation-duration: 341.6s;
}

.stars .container:nth-child(36) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.9s;
  animation-duration: 30.1s;
  background: rgba(239,233,243,0.7);
}

.stars .container:nth-child(37) {
  width: 3px;
  height: 3px;
  left: 2.5vw;
  animation-delay: -998.0666666666667s;
  animation-duration: 127.46666666666665s;
}

.stars .container:nth-child(37) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.8s;
  animation-duration: 36.6s;
  background: rgba(247,167,157,0.8);
}

.stars .container:nth-child(38) {
  width: 2px;
  height: 2px;
  left: 52vw;
  animation-delay: -998.7s;
  animation-duration: 29s;
}

.stars .container:nth-child(38) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.5s;
  animation-duration: 29.9s;
  background: rgba(232,152,140,0.8);
}

.stars .container:nth-child(39) {
  width: 2px;
  height: 2px;
  left: 14.5vw;
  animation-delay: -994.7s;
  animation-duration: 193.1s;
}

.stars .container:nth-child(39) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.9s;
  animation-duration: 30.2s;
  background: rgba(209,252,213,0.8);
}

.stars .container:nth-child(40) {
  width: 2px;
  height: 2px;
  left: 63vw;
  animation-delay: -995.4s;
  animation-duration: 41.7s;
}

.stars .container:nth-child(40) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.7s;
  animation-duration: 38.4s;
  background: rgba(224,215,220,0.7);
}

.stars .container:nth-child(41) {
  width: 3px;
  height: 3px;
  left: 76.5vw;
  animation-delay: -998.1333333333333s;
  animation-duration: 87.66666666666667s;
}

.stars .container:nth-child(41) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.7s;
  animation-duration: 27.3s;
  background: rgba(254,202,130,0.8);
}

.stars .container:nth-child(42) {
  width: 1px;
  height: 1px;
  left: 13vw;
  animation-delay: -981s;
  animation-duration: 228.4s;
}

.stars .container:nth-child(42) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.5s;
  animation-duration: 10.1s;
  background: #c9f57b;
}

.stars .container:nth-child(43) {
  width: 2px;
  height: 2px;
  left: 46.5vw;
  animation-delay: -996.1s;
  animation-duration: 92.3s;
}

.stars .container:nth-child(43) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.3s;
  animation-duration: 46.1s;
  background: #dfc2ee;
}

.stars .container:nth-child(44) {
  width: 3px;
  height: 3px;
  left: 39.5vw;
  animation-delay: -998.9333333333333s;
  animation-duration: 87.39999999999999s;
}

.stars .container:nth-child(44) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.1s;
  animation-duration: 23.1s;
  background: #f9cd6e;
}

.stars .container:nth-child(45) {
  width: 2px;
  height: 2px;
  left: 97vw;
  animation-delay: -993s;
  animation-duration: 173.3s;
}

.stars .container:nth-child(45) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.6s;
  animation-duration: 39s;
  background: #eda866;
}

.stars .container:nth-child(46) {
  width: 2px;
  height: 2px;
  left: 89vw;
  animation-delay: -996.1s;
  animation-duration: 169.1s;
}

.stars .container:nth-child(46) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.3s;
  animation-duration: 12s;
  background: rgba(235,156,189,0.9);
}

.stars .container:nth-child(47) {
  width: 3px;
  height: 3px;
  left: 42vw;
  animation-delay: -995.8s;
  animation-duration: 82s;
}

.stars .container:nth-child(47) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 43.8s;
  background: rgba(255,219,211,0.7);
}

.stars .container:nth-child(48) {
  width: 2px;
  height: 2px;
  left: 9vw;
  animation-delay: -999.6s;
  animation-duration: 90.5s;
}

.stars .container:nth-child(48) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48s;
  animation-duration: 41.5s;
  background: #c9a3c0;
}

.stars .container:nth-child(49) {
  width: 3px;
  height: 3px;
  left: 82vw;
  animation-delay: -998.2s;
  animation-duration: 80.2s;
}

.stars .container:nth-child(49) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.9s;
  animation-duration: 8.5s;
  background: rgba(206,177,134,0.9);
}

.stars .container:nth-child(50) {
  width: 2px;
  height: 2px;
  left: 84vw;
  animation-delay: -995.2s;
  animation-duration: 112s;
}

.stars .container:nth-child(50) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.3s;
  animation-duration: 6.5s;
  background: rgba(222,224,119,0.7);
}

.stars .container:nth-child(51) {
  width: 1px;
  height: 1px;
  left: 14.5vw;
  animation-delay: -988.2s;
  animation-duration: 185.8s;
}

.stars .container:nth-child(51) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.9s;
  animation-duration: 40.2s;
  background: rgba(222,192,203,0.8);
}

.stars .container:nth-child(52) {
  width: 3px;
  height: 3px;
  left: 46vw;
  animation-delay: -995s;
  animation-duration: 87.66666666666667s;
}

.stars .container:nth-child(52) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 48.4s;
  background: rgba(232,169,157,0.8);
}

.stars .container:nth-child(53) {
  width: 1px;
  height: 1px;
  left: 10vw;
  animation-delay: -991.2s;
  animation-duration: 318.8s;
}

.stars .container:nth-child(53) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.7s;
  animation-duration: 25.5s;
  background: rgba(212,224,171,0.7);
}

.stars .container:nth-child(54) {
  width: 3px;
  height: 3px;
  left: 1.5vw;
  animation-delay: -998.6666666666666s;
  animation-duration: 24.266666666666666s;
}

.stars .container:nth-child(54) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.9s;
  animation-duration: 6.6s;
  background: #e0d3b6;
}

.stars .container:nth-child(55) {
  width: 3px;
  height: 3px;
  left: 93vw;
  animation-delay: -996.9333333333333s;
  animation-duration: 16.733333333333334s;
}

.stars .container:nth-child(55) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.8s;
  animation-duration: 10.4s;
  background: rgba(219,250,155,0.7);
}

.stars .container:nth-child(56) {
  width: 2px;
  height: 2px;
  left: 1vw;
  animation-delay: -998s;
  animation-duration: 34.5s;
}

.stars .container:nth-child(56) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43s;
  animation-duration: 40.6s;
  background: #cacde4;
}

.stars .container:nth-child(57) {
  width: 1px;
  height: 1px;
  left: 96vw;
  animation-delay: -995.4s;
  animation-duration: 137.6s;
}

.stars .container:nth-child(57) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42s;
  animation-duration: 5s;
  background: rgba(205,228,172,0.7);
}

.stars .container:nth-child(58) {
  width: 2px;
  height: 2px;
  left: 39vw;
  animation-delay: -997.7s;
  animation-duration: 64.8s;
}

.stars .container:nth-child(58) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 8.8s;
  background: rgba(255,159,218,0.7);
}

.stars .container:nth-child(59) {
  width: 1px;
  height: 1px;
  left: 61vw;
  animation-delay: -990.2s;
  animation-duration: 353s;
}

.stars .container:nth-child(59) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.7s;
  animation-duration: 38.1s;
  background: rgba(228,228,217,0.7);
}

.stars .container:nth-child(60) {
  width: 2px;
  height: 2px;
  left: 68.5vw;
  animation-delay: -998s;
  animation-duration: 45.2s;
}

.stars .container:nth-child(60) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46s;
  animation-duration: 29.5s;
  background: rgba(236,173,117,0.7);
}

.stars .container:nth-child(61) {
  width: 1px;
  height: 1px;
  left: 97vw;
  animation-delay: -995s;
  animation-duration: 270.4s;
}

.stars .container:nth-child(61) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.6s;
  animation-duration: 19.3s;
  background: rgba(217,224,249,0.8);
}

.stars .container:nth-child(62) {
  width: 1px;
  height: 1px;
  left: 62.5vw;
  animation-delay: -999.6s;
  animation-duration: 300.8s;
}

.stars .container:nth-child(62) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.8s;
  animation-duration: 39.3s;
  background: rgba(211,168,248,0.8);
}

.stars .container:nth-child(63) {
  width: 3px;
  height: 3px;
  left: 12.5vw;
  animation-delay: -997.7333333333333s;
  animation-duration: 106.60000000000001s;
}

.stars .container:nth-child(63) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.9s;
  animation-duration: 45s;
  background: rgba(244,234,127,0.9);
}

.stars .container:nth-child(64) {
  width: 2px;
  height: 2px;
  left: 22.5vw;
  animation-delay: -994.3s;
  animation-duration: 44.9s;
}

.stars .container:nth-child(64) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45s;
  animation-duration: 44.6s;
  background: rgba(220,243,104,0.9);
}

.stars .container:nth-child(65) {
  width: 2px;
  height: 2px;
  left: 37vw;
  animation-delay: -999.2s;
  animation-duration: 94.9s;
}

.stars .container:nth-child(65) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.7s;
  animation-duration: 41.4s;
  background: rgba(235,205,112,0.8);
}

.stars .container:nth-child(66) {
  width: 3px;
  height: 3px;
  left: 73vw;
  animation-delay: -999.0666666666667s;
  animation-duration: 80.46666666666667s;
}

.stars .container:nth-child(66) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 43.2s;
  background: rgba(249,228,163,0.9);
}

.stars .container:nth-child(67) {
  width: 3px;
  height: 3px;
  left: 67vw;
  animation-delay: -997.5333333333333s;
  animation-duration: 102.06666666666666s;
}

.stars .container:nth-child(67) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.1s;
  animation-duration: 45.5s;
  background: rgba(216,221,201,0.7);
}

.stars .container:nth-child(68) {
  width: 3px;
  height: 3px;
  left: 56vw;
  animation-delay: -997s;
  animation-duration: 60.53333333333333s;
}

.stars .container:nth-child(68) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.7s;
  animation-duration: 46.9s;
  background: rgba(253,173,171,0.8);
}

.stars .container:nth-child(69) {
  width: 1px;
  height: 1px;
  left: 65.5vw;
  animation-delay: -988.4s;
  animation-duration: 386.2s;
}

.stars .container:nth-child(69) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.4s;
  animation-duration: 10s;
  background: #fcd7f2;
}

.stars .container:nth-child(70) {
  width: 3px;
  height: 3px;
  left: 35vw;
  animation-delay: -999.8666666666667s;
  animation-duration: 68.13333333333334s;
}

.stars .container:nth-child(70) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.9s;
  animation-duration: 11s;
  background: #c99b92;
}

.stars .container:nth-child(71) {
  width: 3px;
  height: 3px;
  left: 22.5vw;
  animation-delay: -998.8666666666667s;
  animation-duration: 30.066666666666666s;
}

.stars .container:nth-child(71) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.3s;
  animation-duration: 33.2s;
  background: rgba(210,242,166,0.8);
}

.stars .container:nth-child(72) {
  width: 2px;
  height: 2px;
  left: 97vw;
  animation-delay: -999.9s;
  animation-duration: 37.8s;
}

.stars .container:nth-child(72) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.2s;
  animation-duration: 40.5s;
  background: rgba(212,194,160,0.7);
}

.stars .container:nth-child(73) {
  width: 2px;
  height: 2px;
  left: 31vw;
  animation-delay: -996.4s;
  animation-duration: 148s;
}

.stars .container:nth-child(73) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.1s;
  animation-duration: 40.2s;
  background: rgba(216,176,122,0.7);
}

.stars .container:nth-child(74) {
  width: 3px;
  height: 3px;
  left: 68vw;
  animation-delay: -994.6666666666666s;
  animation-duration: 16.2s;
}

.stars .container:nth-child(74) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.4s;
  animation-duration: 30.8s;
  background: rgba(208,159,126,0.8);
}

.stars .container:nth-child(75) {
  width: 2px;
  height: 2px;
  left: 52.5vw;
  animation-delay: -993.7s;
  animation-duration: 38.9s;
}

.stars .container:nth-child(75) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.1s;
  animation-duration: 45s;
  background: rgba(224,168,226,0.9);
}

.stars .container:nth-child(76) {
  width: 2px;
  height: 2px;
  left: 22.5vw;
  animation-delay: -995.9s;
  animation-duration: 126.6s;
}

.stars .container:nth-child(76) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.9s;
  animation-duration: 28.3s;
  background: rgba(213,153,224,0.9);
}

.stars .container:nth-child(77) {
  width: 3px;
  height: 3px;
  left: 86vw;
  animation-delay: -997.9333333333333s;
  animation-duration: 64.60000000000001s;
}

.stars .container:nth-child(77) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.4s;
  animation-duration: 43.7s;
  background: rgba(217,228,178,0.9);
}

.stars .container:nth-child(78) {
  width: 3px;
  height: 3px;
  left: 56vw;
  animation-delay: -995.3333333333334s;
  animation-duration: 59.46666666666667s;
}

.stars .container:nth-child(78) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.6s;
  animation-duration: 17.9s;
  background: #f5f784;
}

.stars .container:nth-child(79) {
  width: 3px;
  height: 3px;
  left: 23.5vw;
  animation-delay: -998.8s;
  animation-duration: 59.46666666666667s;
}

.stars .container:nth-child(79) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.9s;
  animation-duration: 29.7s;
  background: rgba(241,187,117,0.7);
}

.stars .container:nth-child(80) {
  width: 3px;
  height: 3px;
  left: 88vw;
  animation-delay: -998.2666666666667s;
  animation-duration: 36s;
}

.stars .container:nth-child(80) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.9s;
  animation-duration: 12.5s;
  background: #d2dd78;
}

.stars .container:nth-child(81) {
  width: 2px;
  height: 2px;
  left: 20.5vw;
  animation-delay: -993.9s;
  animation-duration: 154.8s;
}

.stars .container:nth-child(81) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.5s;
  animation-duration: 11.5s;
  background: rgba(223,222,247,0.9);
}

.stars .container:nth-child(82) {
  width: 1px;
  height: 1px;
  left: 27.5vw;
  animation-delay: -992.2s;
  animation-duration: 282.4s;
}

.stars .container:nth-child(82) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.9s;
  animation-duration: 45.7s;
  background: rgba(216,154,221,0.7);
}

.stars .container:nth-child(83) {
  width: 1px;
  height: 1px;
  left: 19vw;
  animation-delay: -988.4s;
  animation-duration: 179.2s;
}

.stars .container:nth-child(83) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49s;
  animation-duration: 17.7s;
  background: rgba(235,211,251,0.8);
}

.stars .container:nth-child(84) {
  width: 3px;
  height: 3px;
  left: 71vw;
  animation-delay: -997.5333333333333s;
  animation-duration: 85s;
}

.stars .container:nth-child(84) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.4s;
  animation-duration: 33.2s;
  background: #ceb38f;
}

.stars .container:nth-child(85) {
  width: 1px;
  height: 1px;
  left: 10vw;
  animation-delay: -997.4s;
  animation-duration: 95.2s;
}

.stars .container:nth-child(85) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.6s;
  animation-duration: 14.6s;
  background: rgba(215,164,220,0.9);
}

.stars .container:nth-child(86) {
  width: 3px;
  height: 3px;
  left: 83vw;
  animation-delay: -993.6s;
  animation-duration: 57.6s;
}

.stars .container:nth-child(86) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.2s;
  animation-duration: 45.5s;
  background: rgba(242,200,120,0.7);
}

.stars .container:nth-child(87) {
  width: 2px;
  height: 2px;
  left: 91.5vw;
  animation-delay: -990.9s;
  animation-duration: 165.1s;
}

.stars .container:nth-child(87) .star {
  width: inherit;
  height: inherit;
  animation-delay: -46.5s;
  animation-duration: 36.7s;
  background: #e2a26a;
}

.stars .container:nth-child(88) {
  width: 2px;
  height: 2px;
  left: 70vw;
  animation-delay: -999.8s;
  animation-duration: 191.8s;
}

.stars .container:nth-child(88) .star {
  width: inherit;
  height: inherit;
  animation-delay: -43.1s;
  animation-duration: 16.7s;
  background: rgba(243,173,179,0.8);
}

.stars .container:nth-child(89) {
  width: 2px;
  height: 2px;
  left: 4.5vw;
  animation-delay: -995.3s;
  animation-duration: 51.7s;
}

.stars .container:nth-child(89) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.4s;
  animation-duration: 19.1s;
  background: rgba(206,156,120,0.9);
}

.stars .container:nth-child(90) {
  width: 1px;
  height: 1px;
  left: 40.5vw;
  animation-delay: -985.8s;
  animation-duration: 238.2s;
}

.stars .container:nth-child(90) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.7s;
  animation-duration: 20.2s;
  background: #ef9fad;
}

.stars .container:nth-child(91) {
  width: 1px;
  height: 1px;
  left: 42.5vw;
  animation-delay: -992.4s;
  animation-duration: 186s;
}

.stars .container:nth-child(91) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.3s;
  animation-duration: 13.9s;
  background: rgba(241,176,217,0.8);
}

.stars .container:nth-child(92) {
  width: 1px;
  height: 1px;
  left: 66vw;
  animation-delay: -982.6s;
  animation-duration: 228.2s;
}

.stars .container:nth-child(92) .star {
  width: inherit;
  height: inherit;
  animation-delay: -42.9s;
  animation-duration: 40.7s;
  background: rgba(203,151,195,0.8);
}

.stars .container:nth-child(93) {
  width: 2px;
  height: 2px;
  left: 89vw;
  animation-delay: -994.6s;
  animation-duration: 82.7s;
}

.stars .container:nth-child(93) .star {
  width: inherit;
  height: inherit;
  animation-delay: -48.4s;
  animation-duration: 27s;
  background: #fcd1c2;
}

.stars .container:nth-child(94) {
  width: 1px;
  height: 1px;
  left: 50.5vw;
  animation-delay: -992.4s;
  animation-duration: 243.4s;
}

.stars .container:nth-child(94) .star {
  width: inherit;
  height: inherit;
  animation-delay: -47.6s;
  animation-duration: 43.9s;
  background: rgba(234,251,173,0.9);
}

.stars .container:nth-child(95) {
  width: 2px;
  height: 2px;
  left: 4.5vw;
  animation-delay: -990.4s;
  animation-duration: 25s;
}

.stars .container:nth-child(95) .star {
  width: inherit;
  height: inherit;
  animation-delay: -45.7s;
  animation-duration: 37s;
  background: rgba(223,246,234,0.7);
}

.stars .container:nth-child(96) {
  width: 1px;
  height: 1px;
  left: 80.5vw;
  animation-delay: -996.6s;
  animation-duration: 230.4s;
}

.stars .container:nth-child(96) .star {
  width: inherit;
  height: inherit;
  animation-delay: -44.4s;
  animation-duration: 6.5s;
  background: rgba(219,156,120,0.9);
}

.stars .container:nth-child(97) {
  width: 3px;
  height: 3px;
  left: 53.5vw;
  animation-delay: -998.0666666666667s;
  animation-duration: 80.66666666666667s;
}

.stars .container:nth-child(97) .star {
  width: inherit;
  height: inherit;
  animation-delay: -41.3s;
  animation-duration: 45.4s;
  background: rgba(241,182,195,0.7);
}

.stars .container:nth-child(98) {
  width: 1px;
  height: 1px;
  left: 68vw;
  animation-delay: -993.2s;
  animation-duration: 399s;
}

.stars .container:nth-child(98) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.8s;
  animation-duration: 18.7s;
  background: #eba1df;
}

.stars .container:nth-child(99) {
  width: 3px;
  height: 3px;
  left: 97vw;
  animation-delay: -995.8s;
  animation-duration: 103.53333333333335s;
}

.stars .container:nth-child(99) .star {
  width: inherit;
  height: inherit;
  animation-delay: -49.7s;
  animation-duration: 30.8s;
  background: #f6f771;
}

.stars .container:nth-child(100) {
  width: 1px;
  height: 1px;
  left: 55vw;
  animation-delay: -997.4s;
  animation-duration: 158.2s;
}

.stars .container:nth-child(100) .star {
  width: inherit;
  height: inherit;
  animation-delay: -40.6s;
  animation-duration: 32.3s;
  background: rgba(211,174,248,0.8);
}

@-moz-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }

  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}

@-webkit-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }

  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}

@-o-keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }

  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}

@keyframes stars {
  0% {
    transform: translateY(110vh) translateZ(0);
  }

  100% {
    transform: translateY(-10vh) translateZ(0);
  }
}

@-moz-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }

  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}

@-webkit-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }

  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}

@-o-keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }

  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}

@keyframes twinkle {
  0%, 80%, 100% {
    opacity: 0.7;
    box-shadow: 0 0 0 #fff, 0 0 0 #fff;
  }

  95% {
    opacity: 1;
    box-shadow: 0 0 2px #fff, 0 0 4px #fff;
  }
}